:root {
    --link-color: #B46484;
    --item-color: #041015;
}

body {
    text-align: center;
    background-color: #05141B;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: #7baf43;
}
a:link a:hover a:visited a:active {
    display: block;
    color: var(--link-color);
    text-decoration: none;
}

.item-row {
    display: flex;
    justify-content: center;
}

.item {
    width: 200px;
    float: left;
    height: 200px;
    background-color: var(--item-color);
    margin: 15px;
    text-align: center;
    color: var(--link-color);
    text-decoration: none;
}

.label {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 150%;
}
